<body class="profile-page sidebar-collapse" *appShowAuthed="true">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../../../../assets/images/profile-image/profile_city.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../../../../assets/images/profile-image/christian.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">{{info.username}}</h3>
                                <h6>Java Developer</h6>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-github"><i
                                        class="fab fa-github"></i></a>
                            </div>
                        </div>
                        <div class="follow">
                            <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title="Follow this user">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure.
                    </p>
                </div>

                <div class="tab-content tab-space">
                    <div class="tab-pane active work" id="work">
                        <div class="row">
                            <div class="col-md-7 ml-auto mr-auto ">
                                <h4 class="title">Latest Collections</h4>
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <div class="card card-background" style="background-image: url('../../../../assets/images/profile-image/house-1.jpg')">
                                            <a href="#pablo"></a>
                                            <div class="card-body">
                                                <label class="badge badge-warning">Spring 2019</label>
                                                <a href="#pablo">
                                                    <h2 class="card-title">HomeStay</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card card-background" style="background-image: url('../../../../assets/images/profile-image/house-2.jpg')">

                                            <a href="#pablo"></a>
                                            <div class="card-body">
                                                <label class="badge badge-info">Summer 2019</label>
                                                <a href="#pablo">
                                                    <h2 class="card-title">Villa</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card card-background" style="background-image: url('../../../../assets/images/profile-image/house-3.jpg')">
                                            <a href="#pablo"></a>
                                            <div class="card-body">
                                                <label class="badge badge-danger">Autumn 2019</label>
                                                <a href="#pablo">
                                                    <h2 class="card-title">House light</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card card-background" style="background-image: url('../../../../assets/images/profile-image/house-4.jpg')">
                                            <a href="#pablo"></a>
                                            <div class="card-body">
                                                <label class="badge badge-success">Winter 2019</label>
                                                <a href="#pablo">
                                                    <h2 class="card-title">Hotel sitle</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 mr-auto ml-auto stats">
                                <h4 class="title">Stats</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <b>0</b> Products</li>
                                    <li>
                                        <b>4</b> Collections</li>
                                    <li>
                                        <b>1000</b> Follow</li>
                                    <li>
                                        <b>1.2K</b> Likes</li>
                                </ul>
                                <hr>
                                <h4 class="title">Sharing experiences </h4>
                                <a routerLink="/feedback-house" class="material-icons">comment</a>
                                <span class="meida">Comment</span>
                                <hr>
                                <h3 class="title">Follow Us</h3>
                                <div class="media">
                                    <a class="float-left" href="/">
                                        <div class="avatar">
                                            <img class="media-object" alt="64x64" src="../../../../assets/images/profile-image/house-10.jpg">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Home Stay Đà Nẵng</h5>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="float-left" href="/">
                                        <div class="avatar">
                                            <img class="media-object" alt="64x64" src="../../../../assets/images/profile-image/house-6.jpg">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Villa Hội An</h5>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="float-left" href="/">
                                        <div class="avatar">
                                            <img class="media-object" alt="64x64" src="../../../../assets/images/profile-image/house-9.jpg">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Hotel Đà Nẵng</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            // Facebook Pixel Code Don't Delete
            ! function(f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function() {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                document, 'script', '//connect.facebook.net/en_US/fbevents.js');

            try {
                fbq('init', '111649226022273');
                fbq('track', "PageView");

            } catch (err) {
                console.log('Facebook Track Error:', err);
            }

        });
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
    </noscript>
</body>