/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-tooltip {
    font-size: 70%;
<<<<<<< HEAD
    background: #078171;
=======
    background:#078171;
>>>>>>> 7d1906d324041676f461d2b83d71431ef6404fc9
}