<<<<<<< HEAD
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
=======
>>>>>>> 7d1906d324041676f461d2b83d71431ef6404fc9

.basic-container {
    padding: 80px;
}

.version-info {
<<<<<<< HEAD
    font-size: 8pt;
    float: right;
}

.mat-table {
    width: 100%;
=======
  font-size: 8pt;
  float: right;
}
.mat-table{
  width: 100%;
>>>>>>> 7d1906d324041676f461d2b83d71431ef6404fc9
}